body {
	background-image:url("crochet.jpg");
	background-repeat: repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.intro{
	color: yellow;
}
h1{
	color: purple;
	size: 10 cm;
}
p{
	font-style: italic;
}
.links{
	color: blue;
}
.products{
	text-align: justify;
	letter-spacing: 6 mm;
	color: white;
}
.yarn{
	border-left: 6px solid black;
	height: 500px;
	color: white;
}
.buyyarn{
	font-style:Garamond ;
	font-size: 5 mm;
	font-style: italic;
	color: purple;
}